<#include "header.html">
<style>
	textarea { margin-bottom: 8px; }
</style>
<div class="container">
	<#if topic.code == 0>
	<b>Not Found</b>
	<#else>
    <b>${topic.title}</b>
    <br>
    <p>${topic.detail}</p>

		<#if member??>
		<form method="post" action="/post-comment">
			<input type="hidden" name="topic" 
				   value="${topic.code}">
			<textarea class="form-control"
					  name="detail"
					  placeholder="Your comment"
					  rows="3"></textarea>
			<button class="btn btn-primary">Comment</button>
		</form>
		<#else>
		<a href="/login" class="btn btn-outline-primary">
			Log In to Comment
		</a>
		</#if>

	</#if>
</div>


<#include "footer.html">

